{% extends "admin/base.html" %}

{% block title %}
    Admin Dashboard - Ecommerce Website
{% endblock %}

{% block content %}
    {% with msgs = get_flashed_messages(with_categories=True) %}
        {% for c, msg in msgs %}
            <div class="{{ 'flash-error' if c == 'error' else 'success' }}">
                {{ msg }}
            </div><br>
        {% endfor %}
    {% endwith %}

    <h3 class="text-center mt-4">Review Analysis Chart</h3>
    <canvas id="reviewChart" width="400" height="400"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('reviewChart').getContext('2d');
        const reviewChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Fake Reviews', 'Original Reviews'],
                datasets: [{
                    data: [
                        {{ reviews | selectattr("result", "equalto", "Fake") | list | length }},
                        {{ reviews | selectattr("result", "equalto", "Original") | list | length }}
                    ],
                    backgroundColor: ['#dc3545', '#28a745']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>
{% endblock %}
