.main {
	padding: 10vh 0;
}

table {
	margin: 0 auto;
}
table th {
	color: white;
	background-color: #343a40;
	padding: 15px;
}
table tr {
	border-bottom:1px solid #0046C2;
}

table td, th {
padding:5px 30px;
}

.flash-error, .help-block, .success {
	text-align: center;
	padding: 5px;
	font-weight:bold;
}

.flash-error, .help-block {
	color: red;
}

.success {
	color:green;
}

.add-new {
	margin-left:65vw;
	margin-bottom:20px;
}
.item {
	width:250px;
	padding: 12px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-display {
	margin: 0 auto;
	max-width: 500px;
}
